# Ignore les dossiers cache
.cache/
__pycache__/

# Ignore les fichiers volumineux potentiels
*.csv
*.parquet

# Ignore les environnements virtuels
venv/
env/

# Ignore les fichiers de configuration personnels
*.ini
*.config
.env

# Ignore les fichiers log
*.log