###################################
# IGNORER TOUT SANS EXCEPTION
###################################
*

###################################
# EXCLUSIONS POUR SUIVRE CERTAINES RESSOURCES
###################################
!.gitignore
!src/
!requirements.txt
